<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %> 
    <div class="d-flex flex-column bodyContainer">
        <div class="flex column main__centerColumn_all"> 
            <div class="flex column formContainer_all mx-4">
                <form class="needs-validation flex column" action="/newUser" method="POST" novalidate>
                        <div class="input-group mt-3">
                            <span class="input-group-text">Username</span>
                            <input class="form-control" type="text" maxlength="700" name="username" id="username" placeholder="Captain_Destructor" required>
                        </div>
                        <div class="input-group mt-3">
                            <span class="input-group-text">Company Name</span>
                            <input class="form-control" type="text" maxlength="700" name="companyName" id="companyName" placeholder="SavingFace Barbershop" required>
                        </div>
                        <div class="input-group mt-3">
                            <span class="input-group-text">Password</span>
                            <input class="form-control" type="text" maxlength="36" name="password" id="password" placeholder="password" required>
                        </div>
                        <button class="btn btn-primary mt-3 postButton">Create User</button>
                        <a class="btn btn-warning mt-3 ms-2 loginButton" href="/login">Login</a> 
                </form>
            </div>
        </div>
    </div>
</body>
</html>